687/XMLEx/Ex1/Application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="application" type="AppType"/>
	
	<xsd:complexType name="AppType">
			<xsd:sequence>
				<xsd:element name="module" type="ModType" maxOccurs="unbounded"/>
			</xsd:sequence>
	</xsd:complexType>
	
	
	<xsd:complexType name="ModType">
		<xsd:sequence>
			<xsd:element name="menuitem1" type="xsd:string"/>
			<xsd:element name="menuitem2" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>	

</xsd:schema>